
aula-3/.DS_Store
aula-4/.DS_Store
.DS_Store
projeto_parte1/sus_final.pdf
projeto_parte1/integrantes.txt
projeto_parte1/sus_final.architect
*.architect - cópia
*.png
*.pdf
*.architect
*.txt
*.txt
*.jpeg
